@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Island+Moments&family=Oswald:wght@200;300&family=Pacifico&family=Quicksand:wght@500;600;700&family=Quintessential&display=swap');
html{
    font-family: 'Quicksand', sans-serif;
    }
html{scroll-behavior: smooth;}
body{box-sizing: border-box;margin: 0px;}
/*-->Header<--*/
/*Menu*/
.hmenu{position: fixed;width: 100%; z-index: 999;}
.hmenu ul>li{display: inline-block;}
 .hmenu>ul>li>a{display: block;}
 .hmenu>ul{padding: 0px;
margin: 0px;list-style: none;
background-color: #db6521;
text-align: center;}
.hmenu>ul>li>a{text-decoration: none;
font-variant: small-caps;
font-size: larger;
color: white;
padding: 0px 10px;
line-height: 40px;}
.hmenu>ul>li>a:hover{color: yellow;word-spacing: 3px}
.hmenu>ul>li{position: relative;}
.submenu{margin: 0px;padding: 0px;;box-shadow: 0px 0px 5px gray;
position: absolute;display: none;}
.submenu>li>a{display: block;
line-height: 40px;
text-decoration: none;
font-variant: small-caps;
color:#db6521;width: 200px;text-align: left;padding: 0px 10px;border-top: 1px solid silver;}
.hmenu>ul>li:hover>.submenu{display: block;}
.submenu>li>a:hover{background-color:#db6521;color: white;transition: ease-in 0.30s;
    -moz-transition: ease-in 0.30s;-webkit-transition: ease-in 0.30s;}
/*End Menu*/
.formdangnhap h3{text-align: center;color:#F05454;font-size: 28px;}
.formdangnhap{width: 800px;margin: 0px auto; padding: 100px;}
form{display: flex;flex-direction: column;}
input{margin: 20px 0px; outline: none;padding: 10px; border: 1px solid silver; border-radius: 3px;}
button{margin: 20px 0px; outline: none;padding: 10px;border: 1px solid silver; 
    outline: none;background-color:white;color: rgb(69, 151, 245);font-weight: bold;font-size: 15px;}
button:hover{
    background-color: rgb(36, 43, 43);color: white;transition: all 2s linear;}
    input:focus{border: 3px solid #D9D7F1;}
     input:hover{background-color: rgb(205, 245, 245);}
    
/*-->Footer<--*/
.cc{background-color: aqua;
     display: flex; flex-direction: row;}
.footer{color: black; width: 32%;margin: 0px 101px;padding-top: 20px;}
.footer>h3{ text-align: left;}
.end{background-color:#D2FAFB;height: 50px;display: flex;justify-content: center;
    align-items: center;}
*{margin: 0px;}
